html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#hank {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 1%;
}

/* for desktop, any screen larger than iPad pro */
@media only screen and (min-width: 1025px) {
  #hank {
    display: flex;
    flex-direction: row-reverse;
  }
}

.splash {

  justify-content: center;
  align-items: center;
  background-image: url("src/assets/blue_tiles.jpeg");
  background-size: cover;
  height: 100vh;
  margin: 1%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.name-tag {
  -webkit-text-fill-color: white;
  font-size: 10vh;
  font-family: monospace;
}

.name-tag-text {
  -webkit-text-fill-color: white;
  display: flex;
  font-size: 4vw;
  font-family: monospace;
}

.about-me {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right:1%;
  margin-left:1%;
  background-color: #02b2d2;
  border-radius: 0 0 10px 10px;
}

.about-me-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
}

.about-me-text-skills {
  opacity: 0;
  padding: 2vw;
  margin-left: 5vw;
  margin-right: 5vw;
  text-align: left;
  box-shadow: 0 5px 5px grey;
  font-family: monospace;
  -webkit-text-fill-color: #02b2d2;
  border: solid #12c9d4 2px;
  background-color: white;
  
}

@media only screen and (min-width: 1025px) {
  .about-me {
    width: 50vw;
    border-radius: 0 10px 10px 0;
    margin-right: 1%;
    margin-left:0;
  }
}

.about-me-blurb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-me-text {
  opacity: 0;
  padding: 2vw;
  margin-left: 5vw;
  margin-right: 5vw;
  text-align: left;
  box-shadow: 0 5px 5px grey;
  font-family: monospace;
  -webkit-text-fill-color: #02b2d2;
  border: solid #12c9d4 2px;
  background-color: white;
}


#svg-container {
  height: 60vh;
  display: flex;
  justify-content: space-between;
  z-index: -1;
  background-color: #00b2d2;
  border-radius: 10px 10px 0 0;
  margin-left:1%;
  margin-right:1%;
}

@media only screen and (min-width: 1025px) {
  #svg-container {
    width: 50vw;
    border-radius: 10px 0 0 10px;
    margin-left:1%;
    margin-right:0;
  }
}

.experience-container {
  text-align: center;
  height: 50vh;
  
 
}

.experience-list: {
  list-style: none
}

.experience-item {
  width: 100%;
  height: 50%;
  float: right;
}
.experience-img {
  float: left;
}

.applications-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  
}

.applications-header {
  height: 10%;
  font-size: 6vh;
  font-family: monospace;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 10px;
  background-color: #028c56;
  -webkit-text-fill-color: white;
}

.brainstorm-header {
  text-align: center;
  height: 5%;
  font-size: 3vh;
  background-color: #f7dd36;
  -webkit-text-fill-color: #fcfcfc;
  font-weight: bold;
  letter-spacing: 7px;
  margin: 0px;
  margin-left: 1%;
  margin-right: 1%;
  padding-left: 7px;
  font-family: monospace;
  border-radius: 10px;
}

.share-my-kitchen-header {
  text-align: center;
  height: 5%;
  font-size: 3vh;
  margin: 0px;
  margin-left: 1%;
  margin-right: 1%;
  padding-left: 7px;
  background-color:#5764c6;
  -webkit-text-fill-color: white;
  font-family: monospace;
  border-radius: 10px;
}

.app-body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
  align-items: center;
  border-radius: 10px;
  padding: 3%;

}

.brainstorm-body {
  background-color: #ef9024;
}

.share-my-kitchen-body {
  background-color: #869b69;
}

.app-demo {
  margin-left: 5vw;
  margin-right: 5vw;
  box-shadow: 0 5px 5px grey;
  
}

.brainstorm-demo {
  border: solid #f7dd36 2px;
}

.share-my-kitchen-demo {
  border: solid #5764c6 2px;
}

.app-img {
  width: 100%;
  display: block;
}


.app-about {
  box-shadow: 0 5px 5px grey;
  font-family: monospace;
  border: solid #5864c6 2px;
  background-color: white;
  padding: 2vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

.brainstorm-about {
  -webkit-text-fill-color: #ef9024;
  border: solid #f7dd36 2px;
}

.share-my-kitchen-about {
  -webkit-text-fill-color: #869a69;
  border: solid #5764c6 2px;
}

.app-buttons-container {
  margin-top: auto;
  margin-right: 5vw;
  margin-bottom: 3%;
  justify-content: space-around;
}

.app-button {
  align-self: center;
}

.side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hire-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f7d942;
  border-radius: 10px;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
}

#hire-me-svg-wrapper {
  width: 100%;
  height: 75%;
}

#hire-me-svg {
  width: 100%;
}

.hire-me-links-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


@media only screen and (min-width: 1025px) {

  .app-about {
    width: 25%;
    
  }

  .app-buttons-container {
    width: 25%;
  }

  .app-body {
    flex-direction: row;
    align-items: center;
    height: 100vh;
  }
  
  .app-demo {
    width: 60%;
  }


  .side-bar {
    width: 40%;
  }
}

@media only screen and (min-width: 619px) {
  #hire-me-svg {
    height: 200px;
  }
}
